<% layout("layouts/boilerplate") %>

<div class="container my-5">
  <h2 class="text-center mb-4"><%= title %></h2>
  <p class="text-muted text-center">
    We are currently working on this page. Stay tuned for updates soon!
  </p>
  <div class="text-center mt-4">
    <a href="/listings" class="btn btn-dark">Go Back to Joya</a>
  </div>
</div>
<script src="/js/search.js"></script>